<meta charset="utf-8">
<title>WORKERS MANAGEMENT SYSTEM</title>
<link rel="stylesheet" href="/css/style.css">
<script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-auth.js"></script>
<script>
     var firebaseConfig = {
    apiKey: "AIzaSyCPf1YwwaluY2vjB4eaaSsTtUQkwyv7Bkk",
    authDomain: "workers-management-system.firebaseapp.com",
    databaseURL: "https://workers-management-system.firebaseio.com",
    projectId: "workers-management-system",
    storageBucket: "workers-management-system.appspot.com",
    messagingSenderId: "329755929588",
    appId: "1:329755929588:web:c520d8dec57e91821827a1",
    measurementId: "G-0M792FS0DB"
  };

  //project Demophone config

//   const firebaseConfig = {
//   apiKey: "AIzaSyA0UnbepXe3Hcrju3OpQxs6W695r0FGurQ",
//   authDomain: "demophone-f31c5.firebaseapp.com",
//   databaseURL: "https://demophone-f31c5.firebaseio.com",
//   projectId: "demophone-f31c5",
//   storageBucket: "demophone-f31c5.appspot.com",
//   messagingSenderId: "415874649817",
//   appId: "1:415874649817:web:7e5bff6576c8644372f8c8"
// };
    firebase.initializeApp(firebaseConfig);
</script>
