<!DOCTYPE html>
<html>
  <head>
    <% include ./head.ejs%>
  </head>
  <body>

    <div class="signup-box">
      <img src="/img/logo.png" class="avatar" alt="Image">
      <h1>USER SIGN UP</h1>
      <form action="/users/usignup" method="POST">
        <!-- INPUT -->
        
        <input type="text" placeholder="Enter Name" required name="name">
        <input type="email" placeholder="Enter Email" required name="email">
        <input type="text" placeholder="Enter Number" required name="phn">
        <input type="text" placeholder="Confirm Number" required name="cphn">
        <input type="text" placeholder="D No., Street" required name="addr">
        <!-- <input type="text" placeholder="Street"> -->
        <input type="text" placeholder="City" required name="city">
        
        
        <input type="submit" value="Sign Up">
        <a href="/">Already have An account?</a>
      </form>
    </div>
  </body>
</html>